/* mega menu */
#megamenu-toggle {
	float: right;
	background: transparent;
	border: none;
	padding: 0;
	margin-top: 1.5rem;
}
#megamenu-toggle:focus {
	outline: none;
}
nav.megamenu-hide {
	display: none;
	visibility: hidden;
}
