.mt_xs {margin-top: 2rem;}
.mb_xs {margin-bottom: 2rem;}

body.megamenu-freeze {
	overflow: hidden;
}

/* nav styles */
#site-navigation {
	position: fixed;
	height: 100%;
	width: 100%;
	margin: 0;
	top: 0;
	left: 0;
	background-color: #F47037;
}
#site-navigation #nav-header {
	padding: 2.5rem 5rem 0;
	height: 145px;
}
#site-navigation #nav-menu {
	padding: 0 5rem;
	height: calc(100% - 329px);
}
#site-navigation #nav-secondary {
	padding: 5rem 0;
	height: 184px;
}
	#site-navigation #nav-secondary ul#menu-secondary-nav {
		float: left;
	}
		#site-navigation #nav-secondary ul#menu-secondary-nav li {
			margin: 0 2.5rem 0 0;
		}
	#site-navigation #nav-secondary ul#menu-social-links-menu {
		float: right;
	}
		#site-navigation #nav-secondary ul#menu-social-links-menu li {
			margin: 0 0 0 1.25rem;
		}
#site-navigation #nav-header,
#site-navigation #nav-menu,
#site-navigation #nav-secondary {
	width: 90%;
	max-width: 1200px;
  margin: 0 auto;
  position: relative;
}
#site-navigation #nav-header .nav-logo svg {
	width: 144px;
	margin-top: 28px;
  margin-left: 6px;
	height: auto;
}
#site-navigation #nav-header .nav-icon button {
	float: right;
	background: transparent;
	border: none;
	margin-top: 1.5rem;
}
#site-navigation #nav-header .nav-icon button:focus {
	outline: none;
}
#site-navigation #nav-menu .menu-primary-nav-container,
#site-navigation #nav-menu .menu-primary-nav-container * {
	width: 100%;
}
#site-navigation #nav-menu .menu-primary-nav-container a {
	font-size: 10vmin;
	font-family: "acumin-pro-extra-condensed",sans-serif;
	text-align: center;
}
#site-navigation #nav-menu .menu-primary-nav-container li {
	line-height: 1;
	transition: .2s ease-in-out;
	text-transform: uppercase;
}
#site-navigation #nav-menu .menu-primary-nav-container li:not(.current-menu-item) a {
	color: #BC4804;
}
#site-navigation #nav-menu .menu-primary-nav-container li.current-menu-item a {
	color: #ffffff;
}
#site-navigation #nav-menu .menu-primary-nav-container li:hover a {
	transform: scale(1.3);
}
#site-navigation #nav-secondary #menu-secondary-nav li:not(:last-child):after {
	content: '';
	display: inline-block;
	position: absolute;
	top: 50%;
	left: 100%;
	transform: translate(calc(1.25rem - 3px), -50%);
	width: 6px;
	height: 6px;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	border-radius: 20px;
	background-color: #ffffff;
}
#site-navigation #nav-secondary a {
	color: #ffffff;
	font-family: font-family: "Graphik-Light",sans-serif;
}



/* custom blocks */
.mega-textblock {
	padding: 3.5rem;
	margin: 2.5rem 0;
}
/* .mega-textblock p {
  margin-right: 30%;
} */
.mega-h-wrapper {
	margin-top: 10rem;
}
.mega-textblock h1, .mega-calloutblock h1 {
	margin: 0;
	padding: 0;
	line-height: 1;
}
.mega-calloutblock, .mega-tileblocks {
	margin: 2.5rem 0;
	padding: 2.5rem 0;
}
.mega-tileblocks .wp-block-column > .wp-block-group {
	padding: 2rem;
}
.wp-block-button__link {
	font-size: 14px;
	font-family: "Graphik-Medium",sans-serif;
  padding: 1rem 2rem;
}
.mega-calloutblock div {
	position: relative;
}
.mega-calloutblock p {
	position: absolute;
	bottom: 0;
	margin: 0;
}











.brand-btn {
  color: #ffffff;
  background-color: #F47037;
}

.signup-input {
  border-radius: 50px !important;
  font-size: 14px !important;
  padding: 1rem 2rem !important;
  background-color: white !important;
  border: none !important;
  color: #C3C1C1 !important;
}







/* BLOG PAGE LAYOUT STYLES */
#blog-page-header {
	background-color: #F5F5F5;
	padding: calc(75px + 2.5rem) 5rem 2.5rem;
	margin: 16px 0;
}
	#page-header_header {
		margin-bottom: 2.5rem;
	}
		#page-header_header h1 {
			margin: 0;
			padding: 0;
			line-height: 1;
		}
			#page-header_header h1:first-child {
				font-size: 10vmin;
			}
			#page-header_header h1:last-child {
				font-size: 15.8vmin;
			}
	#page-header_callout p {
		margin-bottom: 2.5rem;
	}
	#page-header_callout .col:first-child img {
		height: 1rem;
		width: auto;
	}
#blog-page_nav {
	padding: 2.5rem 0;
}
	#blog-page_nav-title h6 {
		margin: 0;
		padding: 0;
	}
	#blog-page_nav-categories ul {
		margin: 0;
		padding: 0;
		float: right;
	}
	#blog-page_nav-categories ul li {
		display: inline-block;
		margin-left: 1.5rem;
	}
		#blog-page_nav-categories ul li a {
			text-decoration: none;
			font-family: "Graphik-Light",sans-serif;
			font-weight: lighter;
		}
			#blog-page_nav-categories ul li.active_cat a {
				color: #E66C24;
			}
			#blog-page_nav-categories ul li:not(.active_cat) a {
				color: #455B71;
			}

/* BLOG POST PAGE LAYOUT STYLES */
body.post-template-default #headercontainer {
	background: linear-gradient(to bottom, #F5F5F5 63%, #ffffff 37%);
}
body.post-template-default #maincontentcontainer {
	transform: translateY(0);
}
#post-back-nav {
	margin: 2.5rem 0;
}
	#post-back-nav a {
		text-decoration: none;
	}
		#post-back-nav a img {
			height: 1rem;
			width: auto;
			margin-right: 1rem;
			font-weight: lighter;
			vertical-align: baseline;
		}
	.post-share .menu-social-links-menu-container ul {
		margin: 0;
		padding-left: 1.5rem;
	}
		.post-share .menu-social-links-menu-container ul li {
			width: 1.2rem;
		}
			.post-share .menu-social-links-menu-container ul li a {
				text-decoration: none;
			}
			.post-share .menu-social-links-menu-container ul li a::before {
				font-size: 1.2rem;
			}
article.post #post-sidebar .row {
	margin-right: 2.5rem;
}
	article.post #post-sidebar header h1 {
		color: #F47037;
		font-family: "acumin-pro-extra-condensed",sans-serif;
		text-transform: uppercase;
		line-height: 1;
		font-size: 6.5vw;
	}
	article.post #post-sidebar #post_date {
		margin: 2.5rem 0;
		color: #455B71;
	}
article.post #post-content h6 {
	color: #F05D12;
	font-size: 1.5rem;
	font-family: "Graphik-Light",sans-serif;
	font-weight: lighter;
	margin: 0 9rem 2.5rem 0;
}
article.post #post-content p {
	color: #848484;
	font-size: 1rem;
	font-family: "Graphik-Light",sans-serif;
	font-weight: lighter;
}
article.post #post-content img {
	margin: 1.5rem 0;
}
article.post .post-share {
	margin-bottom: 2.5rem;
}


/* FOOTER STYLES */
#footercontainer .site-footer:first-child {
  background-color: #F5F5F5;
  padding: 0 !important;
  max-width: 100% !important;
  width: 100% !important;
}
#footercontainer .site-footer:first-child .footer-row {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 5rem;
}
#footercontainer .site-footer:first-child h3 {
  color: #F05D12;
  font-weight: lighter;
  font-size: 1.75rem;
  line-height: 1.2857;
}
#footercontainer .site-footer:nth-child(2) {
  padding-top: 5rem !important;
}
.site-footer .signup {
  float: right;
}
footer.site-footer {
  padding-bottom: 5rem;
}
.site-footer, .site-footer h3 {
  font-family: "Graphik-Bold",sans-serif;
}
.footer-row {
  margin: 0;
}
.footer-row ul {
  margin: 0;
  padding: 0;
}
.footer-row li, .footer-row h3, .footer-row p {
  line-height: 1.7rem;
  margin-bottom: 0;
  padding-bottom: 0;
}
.site-footer a {
  text-decoration: none;
  font-size: 14px;
}
.menu-social-links-menu-container li {
  width: 1.5rem;
  overflow: hidden;
  display: inline-block;
  margin-right: .7rem;
}
.menu-social-links-menu-container a {
  font-size: 0;
}
.menu-social-links-menu-container a:before {
  font-size: 1.5rem;

}
	.site-footer .menu-social-links-menu-container a:before {
		color: #455B71;
	}
	#nav-secondary .menu-social-links-menu-container a:before {
		color: #ffffff;
	}
.site-footer:last-child .footer-row:first-child > .footer-col aside {
  margin-top: 2rem;
  position: relative;
}
.site-footer:last-child .footer-row:first-child > .footer-col aside:before {
  content: '';
  display: inline-block;
  position: absolute;
  top: 0;
  transform: translate(1px, -2rem);
  width: 10px;
  height: 10px;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  border-radius: 20px;
  background-color: #F15D12;
}
#footer-left > .footer-row:first-child {
  margin-bottom: 5rem;
}
#footer-left > .footer-row:first-child > .footer-col:first-child a,
#footer-left > .footer-row:first-child > .footer-col:first-child a:visited {
  color: #F15D12;
}
#footer-left > .footer-row:first-child > .footer-col:last-child a,
#footer-left > .footer-row:first-child > .footer-col:last-child a:visited {
  color: #455B71;
}
#footer-left > .footer-row:last-child > .footer-col:last-child a,
#footer-left > .footer-row:last-child > .footer-col:last-child a:visited {
  font-weight: lighter;
  color: #455B71;
  font-size: 16px;
}

#footer-right aside {
  float: right;
}
#footer-right aside,
#footer-right aside * {
  display: table;
}
#footer-right > .footer-row > .footer-col h3,
#footer-right > .footer-row > .footer-col p {
  font-size: 14px;
}
#footer-right > .footer-row > .footer-col:first-child h3,
#footer-right > .footer-row > .footer-col:first-child p {
  color: #F15D12;
}
#footer-right > .footer-row > .footer-col:last-child h3,
#footer-right > .footer-row > .footer-col:last-child p {
  color: #455B71;
}
#footer-right > .footer-row > .footer-col p {
  font-weight: lighter;
}
